<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @gif.user_id %>
  <%= cl_image_tag @gif.image.key, height: 600, width: 700, gravity: :auto, crop: :fill %>
  <%= render @gif.tags %>
</p>

<%= link_to 'Edit', edit_gif_path(@gif) %> |
<%= link_to 'Back', gifs_path %>
