<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao Projeto GifChallenge</h1>
  <% if current_user %>
  	<hr class="my-4">
	<%= simple_form_for(@gif) do |f| %>
	  <h4>Adicione seu Gif aqui</h4>
	  <%= f.input :image, as: :file %>
	  <label>Tags</label>
	  <%= f.text_field :tag_list, input_html: {value: f.object.tag_list.to_s}, class: "form-control" %>
	  <small id="emailHelp" class="form-text text-muted">utilize virgula para separar as Tags</small>
	  <%= f.button :submit, "Criar Gif", class: "btn btn-primary mt-2" %>
	<% end %>
	<% else %>
	<p class="lead">Faça Login para Upar os Gifs</p>
<% end %>
</div>

<div class="row">
	<% if @termo %>
		<div class="col-md-12">
			<h4>Resultados para <%= @termo %></h4>
		</div>
  		<% @gifs.each do |gif| %>
	    <div class="col-md-3">
	      <div class="card w-100" style="width: 18rem;">
	        <%= cl_image_tag gif.image.key, crop: :fill %>
	        <div class="card-body">
	          <span class="text-muted">Tags:</span>
	          <%= render gif.tags %>
	        </div>
	      </div>
	    </div>
  <% end %>
  <% else %>
  	<% @gifsall.each do |gif| %>
	    <div class="col-md-3">
	      <div class="card w-100" style="width: 18rem;">
	        <%= cl_image_tag gif.image.key, crop: :fill %>
	        <div class="card-body">
	          <span class="text-muted">Tags:</span>
	          <%= render gif.tags %>
	        </div>
	      </div>
    	</div>
  	<% end %>
  <% end %>

  <div class="col-md-12 mt-4">
  	<h4>Ranking de Tags</h4>
  	<ol>
  		<% @mostuseds.each do |tag| %>
  		<li><%= tag.name %></li>
  		<% end %>
  	</ol>
  </div>





</div>